html {
    scroll-behavior: smooth;
}

/* styling for all content */
body {
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Courier New', Courier, monospace;
    color: papayawhip;
    background-color: #04010a;
}


/* style header to make it standout */
header {
    margin-top: 20px;  
    padding: 40px;
    text-align: center;
    color: aqua; 
}

h1 {
    font-size: 30px;
}

h2 {
    margin-top: 20px;
}

/* blinking cursor to look like command prompt screen */
h1:after {
    content: '';
    width: 15px;
    height: 20px;
    background: aqua;
    opacity: 0;
    display: inline-block;
    animation: blink 1s linear infinite alternate;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* nav button styling for emphasis */  
  nav {
    margin-top: 20px;  
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }

  nav a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    
  }

  .buttons:link, .buttons:visited {
    padding: 14px 25px;
    text-align: center;
    color: papayawhip;
    text-decoration: none;
    display: inline-block;
    border-radius: 8%;
    border-color: chartreuse;
    border-style: solid;
    
  }

  /* gives current status for bootcamp*/
  #learning {

        margin-top: 50px;
        padding: 50px;
        text-align: center;
        font-size: x-large;
        font-weight: 600;
        color: lime;
          
  }

  .textabout {
        margin-left: 40px;
        margin-right: 40px;

  }

aside {
    flex: 1;
    width: 120px;
    height: 100%;
}
  /* box around sections for clarity */
  .box-it {
    margin-top: 20px;
    display: flex;
    flex: wrap;
    flex-grow: 4;
    flex-shrink: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: flex-start;
    border-style: solid;
    border-color: rgb(255, 0, 0);
  }

  .examples {
      display: flex;
  }

  .big-one {
      display: flex;

  }

  #horiseon {
    text-align: center;
    border-style: solid;
    border-width: 3px;
    padding: 10px;
    flex: 0 0 600px;
    color: midnightblue;
    border-color: seashell;
    background-color: seashell;
  }

  #example1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .workcard {
      margin-top: 20px;
      text-align: center;
      border-style: solid;
      border-width: 3px;
      padding: 10px;
      flex: 0 0 300px;
      color: midnightblue;
      border-color: linen;
      background-color: linen;
  }

  .example-others {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .work {
    font-weight: 300;
    text-align: center;
    color: papayawhip;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    
  }


/*image size to make sure all fit on screen while styling. Will resize later */  
#hori-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}