html {
  scroll-behavior: smooth;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* styling for all content */
body {
font-family: 'Press Start 2P', cursive;
color: papayawhip;
background-color: #04010a;
margin: 0;
padding: 0;
}

/* style header to make it standout */
header {
margin-top: 20px;
padding: 40px;
text-align: center;
color: aqua;
}

h1 {
font-size: 30px;
}

h2 {
margin-top: 20px;
color: aqua;
}

/* blinking cursor to look like command prompt screen */
h1:after {
  content: "";
  width: 15px;
  height: 20px;
  background: cyan;
  opacity: 0;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
50% {
opacity: 0;
  }
100% {
opacity: 1;
  }
}

/* nav button styling for emphasis */
nav {
  margin-top: 20px;
 
  padding: 20px;

}


/* links to each section of page */
.buttons:link,
.buttons:visited {
  padding: 14px 25px;
  text-align: center;
  color: papayawhip;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  border-color: chartreuse;
  border-style: solid;
}

.buttons:hover, 
.buttons:active {
  color: blueviolet;
  border-style:dotted;
}

/* main content of the page - about me and completed work */
main.container {
  box-sizing: border-box;
}

main.container > * {
  max-width: 900px;
}

/* gives current status for bootcamp*/
#folio {
  font-family: 'Press Start 2P', cursive;
  color:magenta;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.textabout {
  margin-left: 40px;
  margin-right: 40px;
}
 /* headings for main 2 parts of the portfolio */
aside {

  color: cyan;
}

p {
  font-family: 'Inconsolata', monospace;
}

h6 {
    color: magenta;
    text-align: center;
}

/* box around sections for clarity */
.box-it {
  padding: 15px;
  border-style: dotted;
  border-color: rgb(100, 0, 255);
  border-radius: 8px;
}


#project-one {
  margin: 1rem;
  text-align: center;
  font-family: 'Rock Salt', cursive;
  border-style: solid;
  border-width: 3px;
  border-radius: 0.25rem;
  padding: 10px;
  max-width: 100%;
  color: blue;
  border-color: seashell;
  background-color: seashell;
}


/* other examples */
.card {
  font-family: 'Rock Salt', cursive;
  color: blue;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
  border-color: seashell;
  background-color: seashell;
}


.work {
  font-weight: 300;
  text-align: center;
  color: papayawhip;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

ul{
  list-style-type: none none;
}

.list {
  font-family: 'Inconsolata', monospace;
    
}

li a:link {
  color: lime;
}

li a:visited {
  color: orangered;
}


@media screen and (max-width: 460px) {

  header   {
    margin-bottom: 10px;
    padding: 0px;
  }

#folio {
    text-align: left;
}

  nav {
  
    /*margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;*/
    border-style: dotted;
    border-color: rgb(100, 0, 255);
  }

  .buttons:link,
  .buttons:visited {
  /*  margin-left: 0px;
    margin-right: 0px;  
    padding: 0px;*/
    border-style:none;
  }

  .buttons:hover, 
  .buttons:active {
    color: lime;
  }

 #project-one {
     margin: 0;
     padding: 0;
 }
  }